out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
jre
bin/
.settings
.classpath
.project
test/resources/projects/**/.vscode
test/resources/projects/maven/salut/testGradle
# Para ignorar todos os arquivos e sub-pastas da pasta code_test/
code_test/